* {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 10;
}
.header .container .menubar {
  display: flex;
  justify-content: space-between;
}
.header .container .menubar .nav .navlist {
  display: flex;
  align-items: center;
  margin: auto 0;
}
.header .container .menubar .nav .navlist li {
  list-style: none;
  margin-right: 50px;
  font-size: 14px;
  font-weight: 600;
}
.header .container .menubar .nav .navlist li a {
  color: #191919;
  text-decoration: none;
  position: relative;
}
.header .container .menubar .nav .navlist li a::after {
  content: "";
  background-color: #b61984;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  transition: transform 0.5s;
}
.header .container .menubar .nav .navlist li a:hover {
  color: #b61984;
}
.header .container .menubar .nav .navlist li a:hover::after {
  content: "";
  background-color: #b61984;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: scale(1.5);
}
.header .container .menubar .nav .navlist .li2 a::after {
  outline: none;
  display: inline-block;
  position: absolute;
  bottom: -30px;
  left: 50%;
}
.header .container .menubar .contactbar {
  display: flex;
  align-items: center;
}
.header .container .menubar .contactbar .phonebar {
  margin-right: 25px;
  background-color: #b61984;
  padding: 10px;
  border-radius: 30px;
  color: #fff;
  font-size: 14px;
  transition: linear 0.5s;
}
.header .container .menubar .contactbar .phonebar:hover {
  color: #b61984;
  background-color: #fff;
  border: 1px solid #b61984;
}
.header .container .menubar .contactbar .phonebar i {
  font-size: 16px;
}
.header .container .menubar .contactbar a {
  font-size: 16px;
}
.header .container .menubar .contactbar a i {
  color: #191919;
  margin-right: 16px;
  font-size: 14px;
}
.header .container .menubar .contactbar a :hover {
  color: #b61984;
}

.carousel {
  height: 650px;
}
.carousel .topBG {
  background-image: url(../img/yellow_top_wave_01.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}
.carousel .container {
  position: relative;
}
.carousel .container .content {
  display: flex;
  width: 100%;
  align-items: center;
  position: absolute;
  top: -140px;
  z-index: 3;
}
.carousel .container .content .left {
  max-width: 50%;
}
.carousel .container .content .left .About {
  color: #b61984;
  font-size: 18px;
  font-weight: 600;
}
.carousel .container .content .left .headline {
  color: #191919;
  font-size: 60px;
  font-weight: 700;
}
.carousel .container .content .right img {
  width: 100%;
  height: auto;
  display: block;
}
.carousel .bottomBG {
  background-image: url(../img/Violet_top_left_wave.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.teacherIntro {
  background-color: #dcd0f0;
  background-image: url(../img/Wave_White_bottom_right_shape_01.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}
.teacherIntro .container .teacher-table {
  padding-top: 30px;
}
.teacherIntro .container .teacher-table .list1 .column {
  padding: 10px 5px;
}
.teacherIntro .container .teacher-table .list1 .column .col-content {
  margin: 0 20px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s;
}
.teacherIntro .container .teacher-table .list1 .column .col-content:hover {
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
}
.teacherIntro .container .teacher-table .list1 .column .col-content img {
  max-width: 100%;
  height: auto;
  transition: all 0.5s;
}
.teacherIntro .container .teacher-table .list1 .column .col-content img:hover {
  transform: scale(1.1);
  overflow: hidden;
}
.teacherIntro .container .teacher-table .list1 .column .col-content .teacher_content {
  text-align: center;
}
.teacherIntro .container .teacher-table .list1 .column .col-content .teacher_content h4 {
  color: #b61984;
  font-size: 12px;
  font-weight: 600;
  margin-top: 20px;
}
.teacherIntro .container .teacher-table .list1 .column .col-content .teacher_content h3 {
  font-weight: 700;
  font-size: 18px;
}
.teacherIntro .container .teacher-table .list1 .column .col-content .teacher_content p {
  font-size: 14px;
  padding: 0 20px;
  font-weight: 400;
}
.teacherIntro .container .teacher-table .list2 .column {
  padding: 10px 5px;
}
.teacherIntro .container .teacher-table .list2 .column .col-content {
  margin: 0 20px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s;
}
.teacherIntro .container .teacher-table .list2 .column .col-content:hover {
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
}
.teacherIntro .container .teacher-table .list2 .column .col-content img {
  max-width: 100%;
  height: auto;
  transition: all 0.5s;
}
.teacherIntro .container .teacher-table .list2 .column .col-content img:hover {
  transform: scale(1.1);
  overflow: hidden;
}
.teacherIntro .container .teacher-table .list2 .column .col-content .teacher_content {
  text-align: center;
}
.teacherIntro .container .teacher-table .list2 .column .col-content .teacher_content h4 {
  color: #b61984;
  font-size: 12px;
  font-weight: 600;
  margin-top: 20px;
}
.teacherIntro .container .teacher-table .list2 .column .col-content .teacher_content h3 {
  font-weight: 700;
  font-size: 18px;
}
.teacherIntro .container .teacher-table .list2 .column .col-content .teacher_content p {
  font-size: 14px;
  padding: 0 20px;
  font-weight: 400;
}

.register {
  background-image: url(../img/accent_bottom_wave_01.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
}
.register .container {
  margin-top: 100px;
}
.register .container .box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.register .container .box .left img {
  width: 100%;
  height: auto;
}
.register .container .box .register_form {
  border: 1px solid #fff;
  background-color: #fff;
  box-shadow: 0 30px 30px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.register .container .box .register_form .form_content {
  margin: 30px 20px;
}
.register .container .box .register_form .form_content h2 {
  font-size: 40px;
  font-weight: 700;
  margin: 30px 0;
  text-align: center;
}
.register .container .box .register_form .form_content .info {
  display: flex;
  justify-content: space-between;
}
.register .container .box .register_form .form_content .info .Name {
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 5px 5px;
  width: 40%;
}
.register .container .box .register_form .form_content .info .Name span {
  color: #b61984;
  padding-right: 10px;
  font-size: 14px;
}
.register .container .box .register_form .form_content .info .Name input {
  border: none;
  font-size: 14px;
  width: 80%;
}
.register .container .box .register_form .form_content .info .Email {
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 5px 5px;
  width: 40%;
}
.register .container .box .register_form .form_content .info .Email span {
  color: #b61984;
  padding-right: 10px;
  font-size: 14px;
}
.register .container .box .register_form .form_content .info .Email input {
  border: none;
  font-size: 14px;
  width: 80%;
}
.register .container .box .register_form .form_content .courses {
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 5px 5px;
  width: 100%;
  margin: 20px 0;
}
.register .container .box .register_form .form_content .courses span {
  color: #b61984;
  padding-right: 10px;
  font-size: 14px;
}
.register .container .box .register_form .form_content .courses select {
  border: none;
  font-size: 14px;
  width: 90%;
  opacity: 0.55;
}
.register .container .box .register_form .form_content .message {
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 5px 5px;
  width: 100%;
  margin-bottom: 30px;
}
.register .container .box .register_form .form_content .message span {
  color: #b61984;
  padding-right: 10px;
  font-size: 14px;
}
.register .container .box .register_form .form_content .message input {
  border: none;
  font-size: 14px;
  width: 90%;
  height: 100px;
}
.register .container .box .register_form .form_content button {
  border-radius: 50px;
  color: #fff;
  background-color: #b61984;
  border: none;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 50px;
}

.footer {
  background-image: url(../img/footer_background.jpeg);
  background-size: cover;
  height: 500px;
  background-position: center;
}
.footer .container .row {
  padding-top: 100px;
}
.footer .container .row .col1 {
  color: #fff;
}
.footer .container .row .col1 h3 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
}
.footer .container .row .col1 li {
  list-style: none;
  margin: 10px 0;
  font-size: 14px;
}
.footer .container .row .col1 li i {
  margin-right: 10px;
}
.footer .container .row .col1 li a {
  font-size: 16px;
}
.footer .container .row .col1 li a i {
  margin-right: 16px;
  font-size: 14px;
  color: #fff;
}
.footer .container .row .col1 li a :hover {
  color: #191919;
}
.footer .container .row .col2 {
  color: #fff;
}
.footer .container .row .col2 h3 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
}
.footer .container .row .col2 li {
  list-style: none;
  margin: 20px 0;
  font-size: 14px;
  position: relative;
}
.footer .container .row .col2 li::after {
  content: "";
  width: 20%;
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.footer .container .row .col2 li a {
  font-size: 14px;
  color: #fff;
}
.footer .container .row .col2 li a:hover {
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.footer .container .row .col2 .emailbox {
  margin: 20px 0;
}
.footer .container .row .col2 .emailbox input {
  background-color: #b61984;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer .container .row .col2 button {
  width: 220px;
  border-radius: 50px;
  background-color: #fff;
  color: #191919;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 0;
  border: none;
  transition: 0.5s;
}
.footer .container .row .col2 button:hover {
  border: 1px solid #fff;
  background-color: #b61984;
  color: #fff;
}